<div style="padding: 40px;">
  <div>
    <md-card class="example-card">
      <md-card-title>
        Line Chart example
      </md-card-title>
      <md-card-content>
        <line-chart></line-chart>
      </md-card-content>
    </md-card>
    <md-card class="example-card">
      <md-card-title>
        Radar Chart example
      </md-card-title>
      <md-card-content>
        <radar-chart></radar-chart>
      </md-card-content>
    </md-card>
  </div>

  <div style="padding: 40px;">
    <md-card class="example-card">
      <md-card-title>
        Bar Chart example
      </md-card-title>
      <md-card-content>
        <bar-chart></bar-chart>
      </md-card-content>
    </md-card>

    <md-card class="example-card">
      <md-card-title>
        Polar area Chart example
      </md-card-title>
      <md-card-content>
        <polar-area-chart></polar-area-chart>
      </md-card-content>
    </md-card>

  </div>

</div>