md-toolbar.extend-toolbar {
  background-color: #0168AB;
  background-repeat: no-repeat;
  background-position: right;
  top: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  width: 100%;
  max-height: 32px !important;
  z-index: 1;
  color: white;
}
md-toolbar .md-toolbar-layout md-toolbar-row {
  height: 35px !important;
  background: grey !important;
}


md-toolbar .flex {
  flex: 1 1 auto;
}

md-toolbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid transparent;
  font-size: 1.1em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}


md-toolbar a img {
  height: 10%;
  margin-left: -25px;
}

md-toolbar-row button {
    min-width: 40px !important;
}

md-toolbar-row:nth-child(1) {
  margin-bottom: 66px;
}
md-toolbar-row:nth-child(2) {
  padding-left: 30px;
  text-align: center;
  height: 56px;
  margin-top: 56px;
}