md-toolbar.extend-toolbar {
  background-color: black;
  background-repeat: no-repeat;
  background-position: right;
  top: 0px;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 32px 0 20px;
  max-height: 32px !important;
  color: white;
}
md-toolbar .md-toolbar-layout md-toolbar-row {
  height: 2Opx !important;
  background: grey !important;
}


md-toolbar .flex {
  flex: 1 1 auto;
}

md-toolbar a {
  color: inherit;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid transparent;
  font-size: 1.1em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}


md-toolbar a img {
  float: left;
  width: 45px;
  height: 45px;
}

md-toolbar-row button {
    min-width: 40px !important;
}

md-toolbar-row:nth-child(1) {
  margin-bottom: 66px;
}
md-toolbar-row:nth-child(2) {
  padding-left: 30px;
  text-align: center;
  height: 56px;
  margin-top: 56px;
}

.login:hover{
  color: green;
}

.logout:hover{
  color: red;
}